body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
}

.card {
    display: grid;
    grid-template-rows: auto auto 1fr auto auto;
    gap: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    max-width: 400px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: white;

    &__image {
        width: 100%;
        height: 180px;
        object-fit: cover;
        grid-row: 1; // Fuerza a que sea la primera fila
    }

    &__title,
    &__content,
    &__date {
        padding: 0 1rem;
        margin: 0;
    }

    &__title {
        font-size: 1.5rem;
        color: #333;
    }

    &__content {
        color: #666;
        line-height: 1.5;
    }

    &__date {
        display: flex;
        justify-content: end;
        font-size: 0.9rem;
        &--last {
            color: #239a4b;
        }
    }

    &__button {
        margin: 0 1rem;
        padding: 0.8rem;
        background: #3fcb3f;
        color: white;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background 0.3s;

        &:hover {
            background: #239a4b;
        }
    }
}
